:root {
  --border-radius: 2.4rem;
  --width: 32.7rem;
  --bg-color: #ffffff;
  --text-white: #ffffff;
  --text-black: rgba(0, 0, 0, 0.88);
  --gray: rgba(0, 0, 0, 0.32);
  --indigo: #633bbc;
  --purple: #8257e5;
  --deep-purple: #271a45;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  height: 100vh;
  background: linear-gradient(
      167.96deg,
      var(--purple) 0%,
      var(--deep-purple) 100%
    )
    fixed no-repeat;
  font-size: 1.4rem;
  line-height: 1.7rem;
  letter-spacing: -0.02em;
  color: var(--text-white);
}

.flex {
  display: flex;
}

.flex--column {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: end;
}

.justify-between {
  justify-content: space-between;
}

.gap {
  gap: 2.4rem;
}

.width-full {
  width: 100%;
}

.border {
  border-radius: var(--border-radius);
}

.app {
  margin: auto;
  width: var(--width);
  gap: 2rem;
}

.app__title {
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 500;
}

.flight,
.passenger,
.boarding {
  padding: 2.4rem 3.2rem;
  background-color: var(--bg-color);
  color: var(--text-black);
}

.divider {
  width: calc(var(--width) - 2 * var(--border-radius));
  margin-inline: auto;
  border: 0;
  border-bottom: 0.1rem dashed var(--gray);
  background: var(--bg-color);
}

.important-info {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.9rem;
}

.important-info--white {
  color: var(--text-white);
}

.flight__itinerary {
  position: relative;
}

.flight__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.next-day {
  line-height: 0;
}

.airport {
  font-size: 4rem;
  line-height: 4.7rem;
  font-weight: 500;
}

.boarding__time {
  width: fit-content;
  padding: 0.4rem 0.8rem;
  border-radius: 0.8rem;
  background: var(--indigo);
}

.boarding__terminal,
.boarding__gate {
  margin-top: 1.6rem;
}

.qr-code {
  padding: 1rem;
}

.boarding__warning {
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.9rem;
}

.footer {
  text-align: center;
  line-height: 2.4rem;
  opacity: 0.64;
}

@media screen and (width > 768px) {
  :root {
    --notch-radius: 1.2rem;
    --notch-color: transparent;
    --box-color: #ffffff;
  }

  .divider {
    width: calc(var(--width) - 2 * var(--notch-radius));
  }

  .border {
    border-radius: 0;
  }

  .border--top {
    border-radius: 2.4rem 2.4rem 0 0;
  }

  .border--bottom {
    border-radius: 0 0 2.4rem 2.4rem;
  }

  .border--notched {
    background: radial-gradient(
        circle at top left,
        var(--notch-color) var(--notch-radius),
        var(--box-color) 0
      ),
      radial-gradient(
          circle at top right,
          var(--notch-color) var(--notch-radius),
          var(--box-color) 0
        )
        top right,
      radial-gradient(
          circle at bottom right,
          var(--notch-color) var(--notch-radius),
          var(--box-color) 0
        )
        bottom right,
      radial-gradient(
          circle at bottom left,
          var(--notch-color) var(--notch-radius),
          var(--box-color) 0
        )
        bottom left;
    background-size: 51% 51%;
    background-repeat: no-repeat;
  }

  .border--notched-top {
    background: radial-gradient(
        circle at top left,
        var(--notch-color) var(--notch-radius),
        var(--box-color) 0
      ),
      radial-gradient(
          circle at top right,
          var(--notch-color) var(--notch-radius),
          var(--box-color) 0
        )
        top right;
    background-size: 51%;
    background-repeat: no-repeat;
  }

  .border--notched-bottom {
    background: radial-gradient(
          circle at bottom right,
          var(--notch-color) var(--notch-radius),
          var(--box-color) 0
        )
        bottom right,
      radial-gradient(
          circle at bottom left,
          var(--notch-color) var(--notch-radius),
          var(--box-color) 0
        )
        bottom left;
    background-size: 51%;
    background-repeat: no-repeat;
  }
}
